*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-size: cover;
    color: white;
    font-size: 35px;
    
}

.container{
    width: 800px;
    max-width: 80%;
    border-radius: 4px;
    padding: 10px;
    
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn{
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding:5px 10px ;
    color: black;
    outline: none;
    font-size: 25px;
}
.btn:hover{
    border-color: green;
    color: white;
}


.btn.correct{
background-color: green;
}
.btn.wrong{
background-color: red;
}
.start-btn , .next-btn{
    font-size: 1.5rem;
    font-weight:bold;
    padding: 10px 20px;
}
.start-btn{
    width: 200px;
    height: 120px;
    font-size: 28px;
    text-align: center;
    background-color: midnightblue;
    color: wheat;
    margin-left: 00px;
    border-radius: 8px;
    margin-top: 100px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}